@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
  background-color: #012b12;
}
/* nav bar */
.nav a{
  float: left;
  text-decoration: none;
  text-align: center;
  color: darkgray;
  font-size: x-large;
  padding: 10px 10px;
}
.nav a:hover{
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 10px;
}
/* Styling the main container */
.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}
/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: flex;
    background-color: #2d7c4c;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Styling the profile picture */
.msgimg {
    margin-left: 2%;
    float: left;
}

.container1 {
    width: 270px;
    height: auto; 
    margin: 0;
}

/* styling user-name */
.active {
    color: white;
    font-weight: bold;
    margin: 0 0 0 5px;
    
 
}
/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    background-image: url(/images/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.chats {
    padding: 30px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
 .msg-bottom {
        border-top: 1px solid #ccc;
        position: relative;
        height: 11%;
        background-color: rgb(239 239 239);
    }
/* Styling the input field */
    .input-group {
        float: right;
        margin-top: 13px;
        margin-bottom: 15px;
        margin-right: 20px;
        outline: none !important;
        border-radius: 20px;
        width: 50% ;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .input-group>.form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
    
    .form-control {
        border: none !important;
        border-radius: 20px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    .input-group-text {
        background: transparent !important;
        border: none !important;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: b;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-weight: bold !important;
        cursor: pointer;
    }
    
    input:focus {
        outline: none;
        border: none !important;
        box-shadow: none !important;
    }
    
    .send-icon {
        font-weight: bold !important;
    }

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}
    p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #fffdfd;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-chats-msg {
        float: right;
        width: 46%;
    }

@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}



/* body{
    background-color: rgb(0, 20, 0);
}
main {
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans, sans-serif;
  }
  
  h1, .user-count {
    color: #ddd;
    margin: 0;
    padding: 10px 0;
    font-size: 32px;
  }
  
  .user-count {
    float: right;
  }
  
  .chat {
    content: '';
    width: 100%;
    height: calc(100vh - 165px);
    background-image: url(/images/pic3.jpg);
    background-size:cover;
    padding: 5px 10px;
  }
  
  .sms-left {
    display: flexbox;
    height: fit-content;
    margin: 0 0 5px 0;
    background-color: black;
    width: 50%;
    color: #ddd;
    border-radius: 5px;
    
  }
  .sms-right{
    display: flexbox;
    float: right;
    height: fit-content;
    margin: 0 0 5px 0;
    background-color: black;
    width: 50%;
    color: #ddd;
    border-radius: 5px;
    
  }
  
  input, button {
    width: 100%;
    font: inherit;
    background: #fff;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  button:hover {
    cursor: pointer;
    background: #ddd;
  }
  
  @media all and (min-width: 500px) {
    .chat {
      height: calc(100vh - 140px);
    }
    input {
      width: calc(100% - 160px);
    }
    button {
      float: right;
      width: 150px;
    }
  } */